 Temp files
.DS_Store
*~

# Compiled files
__pycache__/

# Distribution / packaging
/build/
/dist/
/*.egg-info/

# Tests and coverage
/.pytest_cache/
/.cache/
/data/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py
